@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #955df4;
  --secondary-color: #ff816c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
}

header {
  width: 100%;
  background: var(--primary-color);
  padding: 1rem;
}

header h3 {
  color: #fff;
  margin-left: 1.5rem;
}

.table-users {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
}

.table-users th, .table-users td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .5rem;
}

.table-users th {
  background: #fafafa;
  padding: 1rem auto;
}

.btn {
  background: transparent;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
}

.table-wrapper {
  text-align: center;
}

button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 10px;
}