<div style="padding: 10px">
    <h2 style="color: blue; text-align: center;"> 
      
      <span style="color:green">Stroop</span><span style="color:red;">Effect</span> 
      <span style="color:orange">Experiment</span></h2>
      
      <p style="padding: 10px;">
      In this experiment you are required to say the color of the word, not what
      the word says.  For example, for the word, <span
      style="color:#0000cc"><strong>RED</strong></span>, you should say "Blue."</p>
      <p style="padding: 10px;">
      As soon as the words appear on your screen, read the list as fast as you
      can.  When you have finished, click on the "Finish" button.  The time it
      took you to read all of the words will be shown.  If you want to try the
      same set of words, click on the "reload" button of your browser.  If you
      want to continue with the experiment, click on "Continue Experiment."</p>
      
      <div style="text-align: center;"><a href = "ready2.html">Go to the first test.</a></div>
</div>