     <!-- The core Firebase JS SDK is always required and must be listed first -->
     <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-firestore.js"></script>
     
     <!-- TODO: Add SDKs for Firebase products that you want to use
          https://firebase.google.com/docs/web/setup#available-libraries -->
     
     <script>
       // Your web app's Firebase configuration
       var firebaseConfig = {
         apiKey: "AIzaSyALmguTypLcvbYCFFVKo3YhTmrlIMg6Q5s",
         authDomain: "colorexperiment-c34a9.firebaseapp.com",
         projectId: "colorexperiment-c34a9",
         storageBucket: "colorexperiment-c34a9.appspot.com",
         messagingSenderId: "874993095832",
         appId: "1:874993095832:web:311f330ca5f99e32d1aced"
       };
     
       // Initialize Firebase
       firebase.initializeApp(firebaseConfig);
       const db = firebase.firestore();
       </script>
<router-outlet></router-outlet>